h1 {
  text-align: center;
  padding: 10px;
}

body {
  background-color: #fffacd;
  width: 100%;
}

.gudetama {
  display: block;
  margin: auto;
  width: 50%;
}

#directions {
  margin-top: 15px;
  text-align: center;
}
#startbutton {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

#scores {
  text-align: center;
}
#timer {
  margin-top: 15px;
  margin-bottom: 10px;
}
#displaytimer {
  color: red;
}

#centraldiv {
  text-align: center;
}

#radiobuttons {
  display: block;
}

#submitbutton {
  margin-top: 10px;
  margin-bottom: 10px;
}
